body{ 
    background-image: url("./img/img21-scaled.jpg");
    background-repeat: no-repeat ;
    background-size: cover;
}

form{
    width: 50%;

    padding: 10px;
    background-color: rgba(173, 216, 230, 0.158);

    margin:auto
}

label{
    color: white;
}
